APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=cufirst
POSTGRES_PASSWORD=cufirst
POSTGRES_DB=cufirst
JWT_SECRET=change-this-test-secret
JWT_EXPIRE=31d

REDIS_HOST=redis
REDIS_PORT=6379
